/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

$font-family-sans-serif: 'Lato', sans-serif;

$navbar-bg: #6b5f52;
$navbar-fg: #f7f4f0;
$link-color: #7a6a5a;
$body-color: #3c3530;



